<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Demo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% for module in manifest.entrypoints.main.js %}
    {% if browserSupportsModulePreload -%}
      <link rel="modulepreload" href="{{ module }}"/>
    {%- else -%}
      <link rel="preload" as="script" crossorigin="anonymous" href="{{ module }}"/>
    {%- endif %}
  {%- endfor %}

  {% for module in manifest.entrypoints.main.css %}
    <link rel="preload" as="style" href="{{ module }}" />
    <link rel="stylesheet" type="text/css" href="{{ module }}">
  {%- endfor %}

</head>
<body>
  <div id="app">
    <noscript>
      <marquee>This demo requires JavaScript to be enabled</marquee>
    </noscript>
  </div>

  {% for module in manifest.entrypoints.main.js %}
    <script type="module" src="{{ module }}"></script>
  {% endfor %}
  {% if ENV == 'production' %}
    <script nomodule src="{{ manifest.nomodule }}"></script>
  {% endif %}
</body>
</html>
