$header: calc(#{$line-height-base * 1em} + #{$nav-link-padding-y * 2} + #{$spacer * .5 * 2}  + #{$border-width});
$footer: calc(#{$line-height-base * 1em} + #{$spacer * 1 * 2});

.font-weight-semi-bold {
  font-weight: $font-weight-semi-bold;
}

.page {
  height: calc(100vh - #{$header} - #{$footer});

  & > .container {
    height: 100%;
  }
}
