// Open Sans

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Light'), local('OpenSans-Light'),
  url('../fonts/opensans/OpenSansLight/OpenSansLight.eot') format('eot'),
  url('../fonts/opensans/OpenSansLight/OpenSansLight.woff') format('woff'),
  url('../fonts/opensans/OpenSansLight/OpenSansLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'),
  url('../fonts/opensans/OpenSansLightItalic/OpenSansLightItalic.eot') format('eot'),
  url('../fonts/opensans/OpenSansLightItalic/OpenSansLightItalic.woff') format('woff'),
  url('../fonts/opensans/OpenSansLightItalic/OpenSansLightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
  url('../fonts/opensans/OpenSansRegular/OpenSansRegular.eot') format('eot'),
  url('../fonts/opensans/OpenSansRegular/OpenSansRegular.woff') format('woff'),
  url('../fonts/opensans/OpenSansRegular/OpenSansRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
  url('../fonts/opensans/OpenSansItalic/OpenSansItalic.eot') format('eot'),
  url('../fonts/opensans/OpenSansItalic/OpenSansItalic.woff') format('woff'),
  url('../fonts/opensans/OpenSansItalic/OpenSansItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'),
  url('../fonts/opensans/OpenSansSemiBold/OpenSansSemiBold.eot') format('eot'),
  url('../fonts/opensans/OpenSansSemiBold/OpenSansSemiBold.woff') format('woff'),
  url('../fonts/opensans/OpenSansSemiBold/OpenSansSemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'),
  url('../fonts/opensans/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot') format('eot'),
  url('../fonts/opensans/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.woff') format('woff'),
  url('../fonts/opensans/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
  url('../fonts/opensans/OpenSansBold/OpenSansBold.eot') format('eot'),
  url('../fonts/opensans/OpenSansBold/OpenSansBold.woff') format('woff'),
  url('../fonts/opensans/OpenSansBold/OpenSansBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
  url('../fonts/opensans/OpenSansBoldItalic/OpenSansBoldItalic.eot') format('eot'),
  url('../fonts/opensans/OpenSansBoldItalic/OpenSansBoldItalic.woff') format('woff'),
  url('../fonts/opensans/OpenSansBoldItalic/OpenSansBoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'),
  url('../fonts/opensans/OpenSansExtraBold/OpenSansExtraBold.eot') format('eot'),
  url('../fonts/opensans/OpenSansExtraBold/OpenSansExtraBold.woff') format('woff'),
  url('../fonts/opensans/OpenSansExtraBold/OpenSansExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'),
  url('../fonts/opensans/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot') format('eot'),
  url('../fonts/opensans/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.woff') format('woff'),
  url('../fonts/opensans/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}
